<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thabang.mzansirestus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="Profile" />
        <activity
            android:name=".VarificationActivity"
            android:label="Food Zone" />
        <activity
            android:name=".LandingActivity"
            android:label="Food Zone"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShopRegistrationActivity"
            android:label="Register Business" />
        <activity android:name=".ViewShopActivity">
            android:label="Food Zone"
        </activity>
        <activity
            android:name=".ShopOwnerActivity"
            android:label="@string/title_activity_shop_owner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OwnerProfileActivity" />
        <activity android:name=".UpdateBusiProfActivity"></activity>
    </application>

</manifest>